<!DOCTYPE html>
<html>
<head>
  <title>Firewatch</title>
  <%= stylesheet_link_tag :all %>

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'highcharts' %>
	<%= javascript_include_tag 'chart_theme'%>
	
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
